.wrapper{
    min-width: 100vh;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 'header header'
                         'aside main'
                         'footer footer';
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 9fr 2fr;
    gap:20px;
}

.header{
    grid-area: header;
   
}

.aside{
    grid-area: aside;
    
}
.main{
    grid-area: main;
     
}
.footer{
    grid-area: footer;
    
}
 
.bookContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  
   
  @media (max-width: 600px) {
    .bookContainer {
      grid-template-columns: 1fr 1fr; /* Stack items in a single column on small screens */
    }
  }
  